<div>
  <h1>Dashboard</h1>

  <div :if={@region_count > 0}>
    <h2>Regions you Manage</h2>

    <ul>
      <li :for={region <- @current_user.regions}><%= region.name %></li>
    </ul>
  </div>
</div>
