<.title>Please check your email</.title>

<.card>
  <p class="mb-4">
    Before you continue, we need to confirm your ownership of the email address you provided.
    Please <strong>check your email inbox</strong> for a link to confirm.
  </p>
  <p class="text-right">
    <.link_button style="secondary" navigate={~p"/dashboard"}>
      Continue to Dashboard <.icon class="bottom-0.5 h-4 relative w-4" name="hero-arrow-right" />
    </.link_button>
  </p>
</.card>
