We received a request to reset your password on Region Manager. If you made
this request, please use the link below to continue.

  <%= @url %>

If you have any questions, contact your local Program Delivery Partner.
