@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../../deps/identity/priv/static/tailwind.css";

@layer utilities {
  .grid-table {
    grid-template-columns: max-content 1fr;
  }

  .small-caps {
    font-variant: small-caps;
    text-transform: lowercase;
    font-variant: all-small-caps;
  }
}