<.nav class="mb-8" region={@region} view={@socket.view} />

<div>
  <div>
    <.title>Events in <%= @region.name %></.title>
  </div>

  <ul class="bg-white border border-slate-200 mb-4 px-6 py-4 rounded shadow">
    <li :for={event <- @region.events} class="flex gap-4 items-center mb-2">
      <h3><%= event.name %></h3>
    </li>
    <div></div>
  </ul>
</div>
