<.nav class="mb-8" region={@region} view={@socket.view} />

<div>
  <div :if={@region.stats.league_count > 0}>
    <.title>Leagues in <%= @region.name %></.title>

    <ul class="bg-white border border-slate-200 mb-4 px-6 py-4 rounded shadow">
      <li :for={league <- @region.leagues} class="flex gap-4 items-center mb-2">
        <h3><%= league.name %></h3>
      </li>
      <div></div>
    </ul>
  </div>
</div>
