<.breadcrumbs class="mb-4" season={@season} region={@region} />

<RMWeb.RegionLive.Util.region_nav
  class="mb-8"
  season={@season}
  region={@region}
  user={@current_user}
  view={@socket.view}
/>

<.title>Create a New League in {@region.name}</.title>

<.card>
  <.form
    for={@create_league_form}
    phx-change="create_league_change"
    phx-submit="create_league_submit"
  >
    <.input
      explanation={"Full name will be: #{example_full_name(@region, @create_league_form)}"}
      field={@create_league_form[:name]}
      label="League Name"
      required
      wrapper="mb-4"
    />

    <.input
      explanation="Recommended 2 characters. Max of 4 characters. Capital letters or numbers only."
      field={@create_league_form[:code]}
      info_modal="league-create-code-modal"
      label="League Code"
      maxlength="4"
      pattern="[A-Z0-9]{1,4}"
      required
      wrapper="mb-4"
    />

    <.input
      explanation="Cities, counties, or other geographies covered by this league"
      field={@create_league_form[:location]}
      label="Location"
      required
      type="textarea"
      wrapper="mb-4"
    />

    <p class="text-right">
      <.button type="submit">Create League</.button>
    </p>
  </.form>
</.card>

<.modal id="league-create-code-modal">
  <.title class="mb-4" flush>About League Codes</.title>

  <div class="text-sm">
    <p class="italic mb-4">The following information was provided by <em>FIRST</em>:</p>

    <p class="mb-4">
      League codes uniquely identify a league <strong>within a region</strong>. Some guidance on making league codes:
    </p>
    <ul class="list-disc pl-8 mb-4">
      <li>
        <strong>Keep it short!</strong>
        The recommended code length is 2 characters. 1 character is fine! If necessary, they can be up to 4 characters.
      </li>
      <li>
        <strong>Base codes on league name.</strong>
        An acronym for the name will work well! Don't count the word "League". Some approaches:
        <ul class="list-disc pl-8">
          <li>1 word name - use the first letter or first two letters.</li>
          <li>2 word name - use the first letter of each word</li>
          <li>
            3+ word name - use the first letter of the two most important or distinguishing words. Or use the first letter of the first and last word.
          </li>
        </ul>
      </li>
      <li>
        <strong>Don't duplicate region info.</strong>
        Do not include country or state abbreviations unless your region runs exactly 1 league and the league name is not different from the region name.
      </li>
      <li>
        <strong>Don't include program acronym.</strong>
        If the league isn't for FTC, you're in the wrong place!
      </li>
      <li>
        <strong>Avoid numbers.</strong>
        While they are allowed, avoid numbers unless necessary for uniqueness.
      </li>
    </ul>

    <p>
      League codes will appear in event codes to help identify related league events. They will appear between the region code and the event type identifier. For example, the first meet in a New Hampshire (<span class="font-mono text-orange-600">USNH</span>) league with code
      <span class="font-mono text-orange-600">EX</span>
      will have event code <span class="font-mono text-orange-600">USNHEXM1</span>, and that league's tournament will have event code <span class="font-mono text-orange-600">USNHEXLT</span>.
    </p>
  </div>
</.modal>
