<.breadcrumbs class="mb-4" season={@season} region={@region} league={@league} />

<RMWeb.LeagueLive.Util.league_nav
  class="mb-8"
  season={@season}
  region={@region}
  league={@league}
  user={@current_user}
  view={@socket.view}
/>

<.title>
  Overview of {RM.Local.League.shorten_name(@league.name, @region)} League
</.title>

<.link_card
  class="flex items-center mb-4"
  navigate={~p"/s/#{@season}/r/#{@region}/l/#{@league}/events"}
>
  <div class="grow">
    <h3 class="font-bold">
      {dumb_inflect("Event", @league.stats.event_count)}
    </h3>
    <p :if={@league.stats.events_imported_at} class="text-sm">
      Last refreshed {format_date(@league.stats.events_imported_at, :date)}
    </p>
  </div>
  <div>
    <.icon name="hero-arrow-right" />
  </div>
</.link_card>

<.link_card
  class="flex items-center mb-4"
  navigate={~p"/s/#{@season}/r/#{@region}/l/#{@league}/teams"}
>
  <div class="grow">
    <h3 class="font-bold">
      {dumb_inflect("Team", @league.stats.team_count)}
    </h3>
    <p :if={@league.stats.teams_imported_at} class="text-sm">
      Last refreshed {format_date(@league.stats.teams_imported_at, :date)}
    </p>
  </div>
  <div>
    <.icon name="hero-arrow-right" />
  </div>
</.link_card>

<%= if @latest_news != [] do %>
  <.title class="mt-8">Latest News from {@league.name}</.title>

  <.card flush spaced>
    <.list>
      <:link
        :for={message <- @latest_news}
        navigate={url_for([@season, @region, @league, message])}
      >
        <p class="font-semibold">{message.subject}</p>
        <p class="text-sm">
          {format_date(message.sent_at, :date)} &bull; {message.segment.name}
        </p>
      </:link>
      <:link navigate={~p"/s/#{@season}/r/#{@region}/l/#{@league}/messages"}>
        <p class="italic py-2">See More</p>
      </:link>
    </.list>
  </.card>
<% end %>
